* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 200px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
}

.grid-item {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* Ajusta la altura automáticamente */
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto */
}

.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #baf5c1;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 20px -15px rgb(255, 255, 255), -20px 0px 20px -15px rgb(255, 255, 255);
}

.grid-item:hover::before {
    opacity: 1;
}

.grid-item .image-container {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    border-radius: 10px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-item h2 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        margin: 10px;
    }

    .grid-item .image-container {
        height: 150px; /* Ajusta la altura según tus necesidades */
    }
}

@media (max-width: 480px) {
    .grid-item h2 {
        font-size: 1em;
    }

    .grid-item {
        padding: 10px;
    }

    .grid-item .image-container {
        height: 120px; /* Ajusta la altura según tus necesidades */
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Fondo blanco mientras carga */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que el loader esté sobre todo el contenido */
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #3e3e3e;
    border-bottom: 5px solid #3e3e3e;
    position: relative;
    background: linear-gradient(#077e09 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
  }
  .loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: #3e3e3e27;
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
  }
  .loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
  }
  @keyframes lqt {
    0%, 100% {
      background-image: linear-gradient(#077e09 40px, transparent 0);
      background-position: 0% 0px;
    }
    50% {
      background-image: linear-gradient(#077e09 40px, transparent 0);
      background-position: 0% 40px;
    }
    50.1% {
      background-image: linear-gradient(#077e09 40px, transparent 0);
      background-position: 0% -40px;
    }
  }
  @keyframes lqb {
    0% {
      background-image: linear-gradient(#077e09 40px, transparent 0);
      background-position: 0 40px;
    }
    100% {
      background-image: linear-gradient(#077e09 40px, transparent 0);
      background-position: 0 -40px;
    }
  }
  @keyframes spinx {
    0%, 49% {
      transform: rotate(0deg);
      background-position: 50% 36px;
    }
    51%, 98% {
      transform: rotate(180deg);
      background-position: 50% 4px;
    }
    100% {
      transform: rotate(360deg);
      background-position: 50% 36px;
    }
  }
      
 



    


